name: ml-papers
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - scipy
  - matplotlib
  - seaborn
  - scikit-learn
  - jupyter
  - pandas
  - tqdm
  - pillow
  - pytest
  - pip
  - pip:
    - wandb
    # qdd PyTorch/TensorFlow later when needed for deeper networks